.btn-clear {
  text-align: center;
  /* margin-left: 700px; */
  padding: 1em;
  margin: 0.5rem auto;
  color: white;
  background-color: rgb(223, 66, 26);
  border: 0.1em solid rgb(223, 66, 26);
  border-radius: 1em;
  cursor: pointer;
}

.btn-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
